In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('C:/Users/abina/Downloads/cleaned_food_data.csv')
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,...,type_sports_feature_58.1,type_sports_feature_59.1,type_sports_feature_60.1,type_sports_feature_61.1,type_sports_feature_62.1,type_sports_feature_63.1,type_sports_feature_64.1,type_sports_feature_65.1,calories_scone_new,Z_SCORE
0,3.654,1,1,610,3.000000,420.0,2,1.000000,3.000000,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.157895,-1.103196
1,3.300,1,1,720,4.000000,420.0,2,1.000000,1.000000,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.157895,-1.103196
2,3.200,1,1,430,3.000000,420.0,2,2.000000,2.000000,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.157895,-0.334705
3,3.500,1,1,720,2.000000,420.0,2,1.000000,1.000000,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.157895,-1.103196
4,2.250,1,1,610,3.000000,980.0,2,4.000000,3.000000,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,1.202279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,3.500,1,1,610,4.000000,420.0,2,2.698113,3.000000,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.157895,0.201789
116,3.000,1,1,265,2.000000,315.0,2,2.698113,3.000000,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.201789
117,3.882,1,1,720,3.028302,420.0,1,2.698113,3.000000,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.157895,0.201789
118,3.000,2,1,720,4.000000,420.0,1,2.698113,3.000000,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.157895,0.201789
119,3.900,1,1,430,3.028302,315.0,2,2.698113,2.786885,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.201789